In [6]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from glob import glob
import matplotlib.pyplot as plt

In [131]:
NIH_csv_path        = r'D:\Downloads\C19\Data_Entry_2017_v2020.csv'
HMH_csv_path        = r'D:\Downloads\C19\csv\20_07_2020\CDSL_01.csv'
HMH_master_csv_path = r'D:\Downloads\C19\csv\master.csv'
base_dir = os.path.abspath(r'D:\Downloads\C19\3channel\All')

In [132]:
NIH_df = pd.read_csv(NIH_csv_path)
NIH_df.head(1)

,Image Index,Finding Labels,Follow-up #,Patient ID,Patient Age,Patient Gender,View Position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,y]
0,00000001_000.png,Cardiomegaly,0,1,57,M,PA,2682,2749,0.143,0.143

In [88]:
HMH_df = pd.read_csv(HMH_csv_path, sep=';')
HMH_df.head(1)

,PATIENT ID,EDAD/AGE,SEXO/SEX,DIAG ING/INPAT,F_INGRESO/ADMISSION_D_ING/INPAT,F_ENTRADA_UC/ICU_DATE_IN,F_SALIDA_UCI/ICU_DATE_OUT,UCI_DIAS/ICU_DAYS,RESPIRADOR/MECH.VENT.,F_ALTA/DISCHARGE_DATE_ING,...,SAT_02_PRIMERA/FIRST_URG/EMERG,TA_MAX_PRIMERA/FIRST/EMERG_URG,TA_MIN_PRIMERA/FIRST_URG/EMERG,HORA/TIME_CONSTANT_ULTIMA/LAST_URG/EMERG,FC/HR_ULTIMA/LAST_URG/EMERG,TEMP_ULTIMA/LAST_URG/EMERG,GLU_ULTIMA/LAST_URG/EMERG,SAT_02_ULTIMA/LAST_URG/EMERG,TA_MAX_ULTIMA/LAST_URGEMERG,TA_MIN_ULTIMA/LAST_URG/EMERG
0,1,85,MALE,COVID CONFIRMADO,2020-04-06,NaN,NaN,NaN,SI,2020-04-11,...,95,147,68,1899-12-30 19:12:00,67,36.099998,0,95,147,68

In [89]:
HMH_master = pd.read_csv(HMH_master_csv_path)
HMH_master.head(1)

   ID     Path
0   1  1_1.png

## Tratamento dos rótulos e agregação de datasets

#### HmHospitales

In [91]:
HMH_df = HMH_df[['PATIENT ID','DIAG ING/INPAT']]
HMH_df = HMH_df[HMH_df['DIAG ING/INPAT'] == 'COVID CONFIRMADO']
HMH_df.head()

   PATIENT ID    DIAG ING/INPAT
0           1  COVID CONFIRMADO
6           7  COVID CONFIRMADO
7           8  COVID CONFIRMADO
8           9  COVID CONFIRMADO
9          10  COVID CONFIRMADO

In [92]:
c19_pos_id = HMH_df['PATIENT ID'].values

In [113]:
HMH_diag = []
for ID,name in zip(HMH_master['ID'],HMH_master['Path']):
    if ID in c19_pos_id:
        HMH_diag.append([ID,name])

In [143]:
HMH_df = pd.DataFrame(HMH_diag, columns=['ID','Image Index'])
HMH_df['Label'] = 'C19'
HMH_df.head(1)

   ID Image Index Label
0   1     1_1.png   C19

#### NIH

In [133]:
NIH_df = pd.DataFrame(NIH_df['Image Index'],columns=['Image Index'])
NIH_df['Label'] = 'Normal'
NIH_df.head(1)

#### Agregação

In [145]:
dataset_df = pd.concat((NIH_df,HMH_df[['Image Index', 'Label']]),axis=0)

In [146]:
dataset_df

           Image Index   Label
0     00000001_000.png  Normal
1     00000001_001.png  Normal
2     00000001_002.png  Normal
3     00000002_000.png  Normal
4     00000003_001.png  Normal
...                ...     ...
3959         994_2.png     C19
3960         994_3.png     C19
3961         996_1.png     C19
3962         996_2.png     C19
3963         999_1.png     C19

[116084 rows x 2 columns]

In [148]:
dataset_df.to_csv(r'D:\Downloads\Git\Licon-Xray\dataset_csv.csv')